* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

header {
  padding: 2rem;
  font-size: 2rem;
  text-align: center;
  color: orangered;
  letter-spacing: 0.3rem;
  /* font-family: sans-serif; */
}

.pizza {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 12px;
}

.pizza:hover {
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
}

.items {
  max-width: 1024px;
  margin: 1rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr;

  gap: 2rem;
}

.pizza-title {
  font-size: 1.5rem;
  margin-bottom: 0.4rem;
  font-weight: bold;
  color: orangered;
}

.pizza-description {
  font-size: 1rem;
  color: orange;
  font-weight: bold;
  letter-spacing: 0.2rem;
}

.menu-title {
  font-size: 2rem;
  max-width: 200px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 1rem 0;
  margin: 1rem auto;
  margin-bottom: 2rem;
  text-align: center;
}

img {
  width: 180px;
  /* height: 200px; */
  /* object-fit: cover; */
  border-radius: 12px;
}

footer {
  margin-top: 4rem;
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.5rem;
  font-size: 2rem;
}
button {
  font-size: 1.3rem;
  padding: 1rem 3rem;
  border-radius: 12px;
  cursor: pointer;
  border: none;
  outline: none;
  margin: 2rem 0;
  background-color: orangered;
  color: white;
  font-weight: bold;
}
